/* Reset & Base Styles */
body {
    font-family: "Poppins", Arial, sans-serif;
    background: linear-gradient(135deg, #89CFF0, #c2ffff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    margin: 50px 0;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 90%;
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    color: #555;
    font-size: 15px;
    margin-bottom: 25px;
}

.inputs-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.input-column {
    flex: 1;
}

.input-column h3 {
    text-align: center;
    background: #89CFF0;
    color: white;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-weight: 600;
}

.input-list {
    display: grid;
    gap: 10px;
}

input[type="number"] {

    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    transition: all 0.3s;
    font-size: 15px;
}

input[type="number"]:focus {
    border-color: #89CFF0;
    outline: none;
    box-shadow: 0 0 4px rgba(39, 174, 96, 0.4);
}

button {
    width: 100%;
    padding: 12px;
    background: #89CFF0;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 25px;
    transition: all 0.3s ease;
}

button:hover {
    background: #89CFF0;
    transform: translateY(-1px);
    opacity: 80%;
}

.result {
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background: #89CFF0;
    border: 1px solid #b7e4b7;
    border-radius: 8px;
    padding: 15px;
}
